<!DOCTYPE html>
<html lang="en">
    
    <head>
        
        <meta charset="utf-8">
        <meta content="A Blask Default Page" name="description">
        <meta content="Tomas Delvechio" name="author">
        <title>A Blask Default Page</title>
        
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        
        <!-- Load static files -->
        
        <link rel="stylesheet" href="static/css/bootstrap.css">
        <!--script src="script.js"></script-->
        
    </head>
    
    <body>
        
        <div class="container">
            
            <div id="header" class="row">
                
                <div class="col-lg-4 col-offset-2">
                    <h1><a href="/">Blask</a></h1>
                    <p><strong>Another Blog Engine, with <a href="http://flask.pocoo.org" target="__blank">Flask</a></strong></p>
                </div>
                
                <div class="col-lg-4 text-center">
                    <img src="static/img/python-logo.png" alt="Python Logo" width="30%" />
                </div>
                
            </div>
            
            <hr>
            
            <div id="body" class="row">
                <div class="col-lg-8 col-offset-2">
                    {% for post in posts|sort(reverse=True,attribute='id') %}
                        <h1 class="text-primary">{{ post.title }}</h1> 
                        <p class="text-muted">Date: {{ post.date|datetimeformat('%d-%m-%Y') }} | Author: {{ author }}</p>
                        <p>{{ post.article }}</p>
                        <hr>
                    {% endfor %}
                </div>
            </div>
            
            <hr>
            
            <footer class="col-lg-8 col-offset-2">
                <p>&copy; Blask {{ date }} - 
                {% if version %}
                    {{ version }}
                {% endif %}
                </p>
            </footer>
            
        </div>
        
    </body>
    
</html>
